 <!-- Begin::Footer-->
 <footer class="footer border-top py-5">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-12">
                <p class="m-0 text-center text-muted">&copy; 2021 CodeBoss, inc</p>
            </div>
        </div>
    </div>
</footer>
<!-- End::Footer-->
<script src="/javascripts/bootstrap.bundle.min.js"></script>
</body>
</html>