<!DOCTYPE html>
<html lang="es">
<head>
  <title>Personal Portfolio - Bootstrap 5</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="bg-light">

  <nav class="navbar navbar-light fixed-top bg-light shadow-sm">
    <div class="container-lg">
      <a class="navbar-brand text-danger fw-bold fst-italic fs-5" href="#">
        <img src="/images/yesus_perfil.png" alt="" width="45" height="45" class="d-inline-block align-text-center">
        Jesús Araujo
      </a>
      <div class="dropdown">
        <button class="btn btn-secondary btn-danger px-3" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
          <li><a class="dropdown-item" href="#home">Inicio</a></li>
          <li><a class="dropdown-item" href="#about">Acerca de...</a></li>
          <li><a class="dropdown-item" href="#services">Servicios</a></li>
          <li><a class="dropdown-item" href="#portafolio">Portafolio</a></li>
          <li><a class="dropdown-item" href="#testimonials">Testimonios</a></li>
          <li><a class="dropdown-item" href="#contact">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
