<%- include layouts/header.ejs %>

    <!-- Begin::Home-->
    <section class="home py-5" id="home">
        <div class="container-lg">
            <div class="row min-vh-100 align-items-center align-content-center">
                <div class="col-md-6 mt-5 mt-md-0">
                    <div class="home-img text-center">
                        <img src="/images/profile.png" class="rounded-circle mw-100" alt="profile img">
                    </div>
                </div>
                <div class="col-md-6 mt-5 mt-md-0 order-md-first">
                    <div class="home-text">
                        <p class="text-muted mb-1">Hola soy</p>
                        <h1 class="text-danger text-upercase fs-1 fw-bold">Developer full stack .NET</h1>
                        <h2 class="fs-4">Jesus Araujo</h2>
                        <p class="mt-4 text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                        Similique atque doloremque provident illo accusantium sunt! Animi obcaecati incidunt neque a. 
                        Obcaecati aspernatur magnam veniam ut deserunt nam hic tempora ea.</p>
                        <a href="#" class="btn btn-danger px-3 mt-3">Mis trabajos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End::Home-->
    <!-- Begin::About-->
    <section class="about py-5" id="about">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="fw-bold mb-5">Acerca de...</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="about-text">
                        <h3 class="fs-4 mb-3">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, 
                           amet qui laborum voluptatibus error inventore ratione quia aut 
                           tempore perspiciatis nesciunt in consequuntur placeat, sint quae 
                           asperiores, enim rerum eveniet?</p>
                    </div>
                    <div class="row text-center text-uppercase my-3">
                        <div class="col-sm-4">
                            <div class="fact-item">
                                <h4 class="fs-1 fw-bold">100</h4>
                                <p class="text-muted">% Completado</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fact-item">
                                <h4 class="fs-1 fw-bold">90</h4>
                                <p class="text-muted">Clientes felices</p>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="fact-item">
                                <h4 class="fs-1 fw-bold">95</h4>
                                <p class="text-muted">Criticas positivas</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 d-flex align-items-center">
                            <a href="#" class="btn px-3 btn-danger me-5"> Descargar CV</a>
                            <div class="social-links">
                                <a href="#" class="text-dark me-2"><i class="fab fa-facebook-f"></i></a>
                                <a href="#" class="text-dark me-2"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="text-dark me-2"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="text-dark me-2"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mt-5 mt-md-0">
                    <div class="skill-item mb-4">
                        <h3 class="fs-6">HTML</h3>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill-item mb-4">
                        <h3 class="fs-6">CSS</h3>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill-item mb-4">
                        <h3 class="fs-6">JavaScrpt</h3>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="skill-item">
                        <h3 class="fs-6">Bootstrap</h3>
                        <div class="progress" style="height: 5px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End::About-->
    <!-- Begin::Services-->
    <section class="services py-5" id="services">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="fw-bold mb-5">Lo que hago</h2>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-item shadow-sm p-4 rounded bg-white">
                        <div class="icom my-3 text-danger fs-2"><i class="fas fa-code"></i></div>
                        <h3 class="fs-5 py-2">Desarrollador WEB</h3>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-item shadow-sm p-4 rounded bg-white">
                        <div class="icom my-3 text-danger fs-2"><i class="fas fa-lightbulb"></i></div>
                        <h3 class="fs-5 py-2">Diseno Creativo</h3>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="service-item shadow-sm p-4 rounded bg-white">
                        <div class="icom my-3 text-danger fs-2"><i class="fas fa-image"></i></div>
                        <h3 class="fs-5 py-2">Photoshop</h3>
                        <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End::Services-->
    <!-- Begin::Portafolio-->
    <section class="portafolio py-5" id="portafolio">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="fw-bold mb-5">
                            Ultimos trabajos
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="potafolio-item">
                            <img src="/images/portfolio/1.jpg" class="w-100 img-thumbnail" alt="potafolio item">
                            <h3 class="text-capitalize fs-5 my-2">seccion del equipo</h3>
                            <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Demo en vivo</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="potafolio-item">
                            <img src="/images/portfolio/2.jpg" class="w-100 img-thumbnail" alt="potafolio item">
                            <h3 class="text-capitalize fs-5 my-2">app landing page</h3>
                            <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Demo en vivo</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="potafolio-item">
                            <img src="/images/portfolio/3.jpg" class="w-100 img-thumbnail" alt="potafolio item">
                            <h3 class="text-capitalize fs-5 my-2">creativo seccion del equipo</h3>
                            <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Demo en vivo</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="potafolio-item">
                            <img src="/images/portfolio/4.jpg" class="w-100 img-thumbnail" alt="potafolio item">
                            <h3 class="text-capitalize fs-5 my-2">tabla de precios</h3>
                            <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Demo en vivo</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="potafolio-item">
                            <img src="/images/portfolio/5.jpg" class="w-100 img-thumbnail" alt="potafolio item">
                            <h3 class="text-capitalize fs-5 my-2">bootstrap 5 galeria imagenes</h3>
                            <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Demo en vivo</a></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="potafolio-item">
                            <img src="/images/portfolio/6.jpg" class="w-100 img-thumbnail" alt="potafolio item">
                            <h3 class="text-capitalize fs-5 my-2">Filtra galeria imagenes</h3>
                            <p class="mb-4"><a href="#" class="text-danger text-decoration-none">Demo en vivo</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End::Portafolio-->
    <!-- Begin::Freelancer available section start-->
    <section class="freelancer-available py-5 bg-danger">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <p class="text-light fs-5">Tienes algun proyecto por desarrollar</p>
                    <h2 class="fs-1 text-white mb-4">Estoy disponibles para proyectos freelance</h2>
                    <a href="#contact" class="btn btn-outline-light">Contactame</a>
                </div>
            </div>
        </div>
    </section>
    <!-- End::Freelancer available section start-->
    <!-- Begin::Testimonials-->
    <section class="testimonials py-5" id="testimonials">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="fw-bold mb-5">Testimonios</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active bg-danger" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" class="bg-danger" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" class="bg-danger" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner p-1">
                            <!-- Begin::Item Testimonials-->
                            <div class="testi-item carousel-item active bg-white shadow-sm rounded p-4 mb-5">
                                <div class="testi-author-info d-flex align-items-center">
                                    <img src="/images/testimonial/1.jpg" class="img-thumbnail rounded-circle" alt="testi-info">
                                    <div class="author ms-3">
                                        <h3 class="fs-6 mb-1">Jhonatan Ruiz</h3>
                                        <p class="text-muted m-0">Developer WEB</p>
                                    </div>
                                </div>
                                <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perspiciatis sunt excepturi quis cupiditate sequi corrupti laudantium</p>
                                <div class="rating text-danger">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="testi-item carousel-item bg-white shadow-sm rounded p-4 mb-5">
                                <div class="testi-author-info d-flex align-items-center">
                                    <img src="/images/testimonial/2.jpg" class="img-thumbnail rounded-circle" alt="testi-info">
                                    <div class="author ms-3">
                                        <h3 class="fs-6 mb-1">Laura Leon</h3>
                                        <p class="text-muted m-0">SEO Designer</p>
                                    </div>
                                </div>
                                <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perspiciatis sunt excepturi quis cupiditate sequi corrupti laudantium</p>
                                <div class="rating text-danger">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <div class="testi-item carousel-item bg-white shadow-sm rounded p-4 mb-5">
                                <div class="testi-author-info d-flex align-items-center">
                                    <img src="/images/testimonial/3.jpg" class="img-thumbnail rounded-circle" alt="testi-info">
                                    <div class="author ms-3">
                                        <h3 class="fs-6 mb-1">Jhonatan Ruiz</h3>
                                        <p class="text-muted m-0">Developer WEB</p>
                                    </div>
                                </div>
                                <p class="text-muted mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perspiciatis sunt excepturi quis cupiditate sequi corrupti laudantium</p>
                                <div class="rating text-danger">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                            <!-- End::Item Testimonials-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End::Testimonials-->
    <!-- Begin::Contact-->
    <section class="contact py-5" id="contact">
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center">
                        <h2 class="fw-bold mb-5">
                            Mi Contacto
                        </h2>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-danger">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="text ms-3">
                            <h3 class="fs-5">Correo</h3>
                            <p class="text-muted">info@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-danger">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="text ms-3">
                            <h3 class="fs-5">Telefono</h3>
                            <p class="text-muted">(+58) 412 160 5552</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-danger">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="text ms-3">
                            <h3 class="fs-5">Direccion</h3>
                            <p class="text-muted">Urb. La esperanza Calle los Robles. Quinta Lilinan. Valera Edo. Trujillo - Venezuela</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contact-form">
                        <form role="form" action="/email" method="POST">
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <input type="text" placeholder="Nombre" name="name" id="name" class="form-control form-control-lg fs-6 border-0 shadow-sm" required>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <input type="email" placeholder="Correo" name="to" id="to" class="form-control form-control-lg fs-6 border-0 shadow-sm" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <input type="text" placeholder="Asunto" name="subject" id="subject" class="form-control form-control-lg fs-6 border-0 shadow-sm" required>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <textarea class="form-control form-control-lg fs-6 border-0 shadow-sm" name="message" id="message" rows="5" placeholder="Escriba el mensaje" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-danger px-3">Enviar mensaje</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End::Contact-->
   
<%- include layouts/footer.ejs %>